<div class="container">
    
    <div class="row text-center bg-primary title">
      <h1 class="col-sm">Handtrack Task Planner</h1>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="row row-styling">
                <h2>Camera</h2>
                <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
                <div [innerText]="gesture"></div>
            </div>
            <div class="row row-styling">
                <h2>Instructions</h2>
                <ul>
                    <li>Open Hand:       add task</li>
                    <li>Hand Pointing:   select task</li>
                    <li>Hand Pinching:   check/uncheck task</li>
                    <li>Closed Hand:     remove task</li>
                    <li>Two Closed Hand: clear schedule</li>
                </ul>
            </div>
        </div>
    
        <div class="col-sm schedule">
            <h2>Schedule</h2>
            <h3>Selected Task: {{selected}}</h3>
            <div *ngFor="let task of tasks">
                <mat-checkbox [(ngModel)]="task.checked">
                    <div *ngIf="task.label==selected; else elseBlock">
                        <article style="background-color: #00ffff;">
                            {{ task.label }}
                        </article>
                    </div>
                    <ng-template #elseBlock>
                        <article>
                            {{ task.label }}
                        </article>
                      </ng-template>
                </mat-checkbox>
            </div>
        </div>
    </div>

  </div>