<div class="container">
    
    <div class="row text-center bg-primary title">
      <h1 class="col-sm">Handtrack Task Planner</h1>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="row row-styling">
                <h2>Camera</h2>
                <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
                <div [innerText]="gesture"></div>
            </div>
            <div class="row row-styling">
                <h2>Instructions</h2>
                <ul style="padding-left: 2em;">
                    <li><b>Open Hand</b>: add task</li>
                    <li><b>Hand Pointing</b>: select task</li>
                    <li><b>Hand Pinching</b>: check/uncheck task</li>
                    <li><b>Closed Hand</b>: remove task</li>
                    <li><b>Two Closed Hands</b>: clear schedule</li>
                    <li><b>One Open Hand, One Closed Hand</b>: sort by task label</li>
                    <li><b>One Open Hand, One Hand Pointing</b>: sort by task completion status</li>
                </ul>
            </div>
        </div>
    
        <div class="col-sm schedule">
            <h2>Schedule</h2>
            <h4>Selected Task: {{selected}}</h4>
            <div *ngFor="let task of tasks">
                <mat-checkbox [(ngModel)]="task.checked">
                    <div *ngIf="task.id==selected; else elseBlock">
                        <article style="background-color: #00ffff;">
                            {{ task.label }}
                        </article>
                    </div>
                    <ng-template #elseBlock>
                        <article>
                            {{ task.label }}
                        </article>
                      </ng-template>
                </mat-checkbox>
            </div>
        </div>
    </div>

  </div>